.tab-panel .tab-panel-header {
  display: flex;
  margin-top: 8px;
}

.tab-panel .tab-panel-header .tab-panel-header-item {
  border: 1px solid #aaa;
  padding: 5px;
  margin-left: 8px;
}

.tab-panel .tab-panel-header .tab-panel-header-item.active-tab { 
  border: 2px solid red;
}